@model List<soppi.Models.Order>

<head>
    <link rel="stylesheet" href="~/Content/css/Shop/Order/Index.css">
</head>
@{
    if (Model.Count == 0)
    {
        <div class="d-flex justify-content-center mt-3">
            <div>Bạn chưa có đơn hàng nào</div>
        </div>
    }
    else
    {
        <div class="container">
            <div class="row my-4">
                @foreach (var o in Model)
                {
                    <div class="col-lg-6 my-2 ">
                        <a class="text-decoration-none text-dark "  asp-action="Detail" asp-controller="Order" asp-route-id="@o.Id">
                            <div class="d-flex bg-white shadow p-4 outer" style="border-radius: 8px;">
                                <div class="outer-img">
                                    <img src="@o.Product.Image" alt="">
                                </div>
                                <div class="product-info">
                                    <div class="my-1 fw-bold">Sản phẩm: @o.Product.ProductName</div>
                                    <div class="my-1">Số lượng: @o.Quantity</div>
                                    <div class="my-1 price" data-price='@o.TotalPrice'>@o.TotalPrice</div>
                                </div>
                                <div class="user-info">
                                    <div class="my-1 fw-bold">Tên khách hàng: @o.User.Name</div>
                                    <div class="my-1">Địa chỉ: @o.ShippingAddress</div>
                                    <div class="status">
                                            @if (o.Status == "Pending")
                                            {
                                                <div class="text-warning fw-bold" value="Pending">Chờ xác nhận</div>
                                            }
                                            else if (o.Status == "Shipping")
                                            {
                                                <div class="text-primary fw-bold" value="Shipping" >Đang giao hàng</div>
                                            }
                                            else if (o.Status == "Shipped")
                                            {
                                                <div class="text-success fw-bold" value="Shipped" >Đã giao hàng</div>
                                            }
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
    }
}


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        // Lặp qua mỗi phần tử có class là "price"
        $('.price').each(function () {
            // Lấy giá trị số từ thuộc tính data-price
            var price = parseFloat($(this).data('price'));
            // Định dạng lại số với dấu phẩy
            var formattedPrice = price.toLocaleString();
            // Gán lại văn bản đã định dạng vào phần tử
            $(this).text(formattedPrice + " đ");
        });
    });
</script>